.login-container{
    width: 100%;
    height: 100%;

}

body {
	background: #eee !important;	
}

.sign-in-btn{
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.fortgot-pass-text{
    text-align: center;
}